.manageusersform {
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  width: 30rem;
  height: 30rem;
  justify-content: center;
  align-items: center;
  margin: 3rem 1rem;
}
.manageusersform > h2 {
  color: #1e9fe9;
  margin-bottom: 2rem;
}
.stu_reg_input {
  border-radius: 10px;
  border: transparent;
  padding: 0.5rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 70%;
  height: 2rem;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.manageusers {
  display: grid;
  place-items: center;
}
.submit_btn {
  width: 40%;
  height: max-content;
  padding: 0.5rem;
  margin: 1rem;
  border: transparent;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  cursor: pointer;
  color: #1e9fe9;
}
.submit_btn:hover {
  box-shadow: 0 5px 10px rgba(58, 115, 134, 0.2);
  /* background: #1e9fe9; */
  /* color: #ffffff; */
}
.stu_reg_input:focus {
  outline: 1px solid #1e9fe9;
}
