.assignmentCardItems {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #1ee93d; */
  border: 1px solid #1e9fe9;
  width: fit-content;
  height: 4rem;
  padding: 1rem;
  margin: 1rem;
}
.assignmentCardRejected {
}
.assignmentCardItemsRejected {
  background-color: #e91e1e;
  border: 3px solid #e91e1e;
  width: fit-content;
  height: 4rem;
  padding: 1rem;
  margin: 1rem;
}
.assignmentTitleRejected {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}
.assignmentTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1e9fe9;
  text-align: center;
}
.tick {
  color: #1ee93d;
  font-size: 2rem;
  padding-left: 1rem;
}

@media screen and (max-width: 768px) {
  .assignmentCardItems {
    width: 100%;
    height: 2rem;
    margin-left: 0;
  }
}
