.assignmentCardItems {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #1ee93d; */
  border: 1px solid #1e9fe9;
  width: fit-content;
  height: 4rem;
  padding: 1rem;
  margin: 1rem;
}
.assignmentTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  color: #1e9fe9;
  /* background-color: #2e5b35; */
  text-align: center;
}
.tick {
  color: #1ee93d;
  font-size: 2rem;
  padding-left: 1rem;
}
