.reportDisplayTable{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    gap: 4rem;
    /* border: 1px solid brown; */
    padding: 1rem;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.totalSubmissions{
    display: grid;
    place-items: center;
    border: 3px solid #1e9fe9;
    width: max-content;
    padding: 1rem;
    margin: 2rem auto;
    font-weight: 500;
    box-shadow: 0 1px 5px #1e9fe9;
    user-select: none;
}
.PrintButton{
    padding: .5rem;
    position: absolute;
    z-index: 2;
    top: 10rem;
    right: 2rem;
    color: #1e9fe9;
    border: 2px solid #1e9fe9;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}
.PrintButton:active {
    box-shadow: 0 1px 5px #666;
    transform: translatex(1px);
  }