.reportDisplayTable {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  gap: 3rem;
  padding: 1rem;
  height: max-content;
}
.SubmissionList {
  display: flex;
  padding: 1rem;
  width: 30rem;
  color: #1e9fe9;
  /* box-shadow: 0px 2px 10px #e9e8e8c0; */
  height: 100vh;
  overflow: scroll;
  align-items: center;
}
.SubmissionList > p {
  position: absolute;
  margin-top: -2rem;
}
.SubmissionList > div {
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SubmissionList > div > * {
  width: 80%;
}
.totalRewatibSubmissions {
  display: flex;
  gap: 1rem;
  color: #1e9fe9;
  width: max-content;
  padding: 1rem;
  font-weight: 500;
  user-select: none;
}
.datePicker {
  border: transparent;
  padding: 0.5rem;
  border-radius: 5px;
  color: #1e9fe9;
}
.datePicker:focus {
  outline: none;
}
.ReportPageheader {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  box-shadow: 0px 1px 19px #f5f4f484;
  margin: 2rem auto;
  align-items: center;
}
.ReportPageheader > div > span {
  font-weight: 500;
  font-size: small;
  color: #1e9fe9;
}
.PrintButton {
  padding: 0.5rem;
  display: flex;
  color: #1e9fe9;
  border: 2px solid #1e9fe9;
  background-color: white;
  border-radius: 5px;
  margin: 1rem auto;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.PrintButton:active {
  box-shadow: 0 1px 5px #666;
  transform: translatex(1px);
}
.ReportPage {
  display: flex;
}
.SubmissionList {
  display: flex;
  flex-direction: column;
}
.chartWrapper{
  width: 100%;
  height: 20rem;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}